{% extends "app_base.html" %}
{% block content %}
<h3> Search </h3> 

<form method="POST" action="search" role="form" style="max-width:400px; width:100%">
	{% if message is defined %}
	<div class="alert alert-warning" role="alert">{{ message }}</div>
	{% endif %}
	<div class="alert alert-info">Anything not input will not be taken into account</div>
	<div class="form-group">
	  <label for="itemID">Item ID</label>
	  <input type="text" class="form-control" id="itemID" name="itemID" />
	</div>
	<div class="form-group">
	  <label for="category">Category</label>
	  <input type="text" name="category" class="form-control" id="category" />
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" class="form-control" id="description" />
	</div>
	<div class="form-group">
	  <label for="minPrice">Min Price</label>
	  <input type="text" name="minPrice" class="form-control" id="minPrice" />
	</div>
	<div class="form-group">
	  <label for="maxPrice">Max Price</label>
	  <input type="text" name="maxPrice" class="form-control" id="maxPrice" />
	</div>
	<div class="form-group">
		<label for="status">Status &nbsp;&nbsp;</label>
		<div class="radio-inline"><label><input type="radio" name="status" value="open">Open</label></div>
		<div class="radio-inline"><label><input type="radio" name="status" value="close">Close</label></div>
		<div class="radio-inline"><label><input type="radio" name="status" value="notStarted">Not Started</label></div>
		<div class="radio-inline"><label><input type="radio" name="status" value="all" checked>All</label></div>
	</div>
	<div><input type="submit" value="Start Searching!" class="btn btn-primary" /></div>
</form>
<h3>Result</h3>
<ul>
{% if search_result %}
	<table>
		<TR>
			<TD><span style="font-weight:bold"> ItemID </span>></TD>
			<TD><span style="font-weight:bold"> Name </span></TD>
			<TD><span style="font-weight:bold"> Currently </span>></TD>
			<TD><span style="font-weight:bold"> First_Bid </span></TD>
			<TD><span style="font-weight:bold"> Buy_Price </span>></TD>
			<TD><span style="font-weight:bold"> Number_of_bids </span></TD>
			<TD><span style="font-weight:bold"> Started </span>></TD>
			<TD><span style="font-weight:bold"> Ends </span></TD>
			<TD><span style="font-weight:bold"> Seller_UserID </span>></TD>
			<TD><span style="font-weight:bold"> Description </span></TD>
			<TD><span style="font-weight:bold"> Category </span>></TD>
		</TR>
	{% for result in search_result %}
	<TR>
		<TD>{{ result.ItemID }}</TD>
		<TD>{{ result.Name }}</TD>
		<TD>{{ result.Currently }}</TD>
		<TD>{{ result.First_bid }}</TD>
		<TD>{{ result.Buy_Price }}</TD>
		<TD>{{ result.Number_of_Bids }}</TD>
		<TD>{{ result.Started }}</TD>
		<TD>{{ result.Ends }}</TD>
		<TD>{{ result.Seller_UserID }}</TD>
		<TD>{{ result.Description }}</TD>
		<TD>{{ result.Category }}</TD>
	</TR>
		{% endfor %}
	</table>
{% else %}
<div>No results</div>
{% endif %}
</ul>

{% endblock %}
